.header-container {
  background-color: #1d1d1d;
  margin: 0;
  padding: 0;
  .content-wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  h1 {
    max-width: 75%;
    font-size: 100px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #540032;
  }
  .title {
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/241/296/original/beautiful-colorful-comic-book-background-illustration-vector.jpg);
    background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

}
