<div class="container mt-4">
  <!-- Navbar -->
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Sign in</a>
      </li>
    </ul>
    <!-- Header -->
    <header class="header-container my-5">
      <div class="content-wrapper">
        <h1 class="title text-center">ComicBookArt.com</h1>
      </div>
    </header>

</div>