// Comic Theme

$theme: "comic" !default;

$white: #fafafa !default;
$gray-100: #eee !default;
$gray-200: #d1d1d1ed !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #aaa !default;
$gray-600: #777 !default;
$gray-700: #495057 !default;
$gray-800: #333 !default;
$gray-900: #222 !default;
$black: #1d1d1d !default;