@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Bebas+Neue&family=Knewave&family=Londrina+Shadow&family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&family=Rampart+One&display=swap');

/* Typography */
$bebas-neue: 'Bebas Neue', cursive;
$montserrat: 'Montserrat', sans-serif;

/* Colors */
$redOrange: #D21D12;
$darkRedOrange: #BC2423;
$red: #D00C22;

$yellow: #F5E049;
$paleYellow: #EDE2AC;
$offWhite: #EBEEB9;

$lightBlue: #257EC2;
$darkBlue: #004B82;

$white: #FFFFF7;
$gray-900: #FAFAFA;
$gray-800: #FAFBEB;
$gray-700: #f1ead8df;

$gray-500: #555057;
$gray-400: #464347;
$gray-300: #302134;
$gray-200: #271A2C;
$gray-100: #1E1727;
$black: #020003;